@import "vars";

.container {
  margin: 15px 0;
  display: flex;
  justify-content: center;

  img {
    height: 100px;
  }

  .duckButton {
    background: none;
    border: none;

    transition: transform 100ms ease-in-out;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.duckModal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  .modalBody {
    background-color: wheat;
    padding: 30px;
    border-radius: 10px;
    width: 100%;

    .headRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .close {
        background: none;
        border: none;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;

        font-size: 2rem;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
      }
    }

    .creditsRow {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
  }
}

.duckProduct {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  .duckProductImage {
    height: 60px;
    margin-right: 15px;
  }

  .duckProductName {
    font-size: 1.5rem;
  }

  .duckProductPriceList {
    margin-top: 5px;
    img {
      height: 20px;
      width: 20px;
      margin-right: 5px;
      vertical-align: baseline;
    }

    font-weight: bold;
    font-size: 1.2rem;
  }

  .duckProductBuy {
    display: block;
    width: 100%;
    background: $primary-color;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;

    font-family: $font-family;
    color: white;
    font-size: 1.5rem;
    text-align: center;

    margin-top: 10px;

    transition: transform 100ms ease-in-out;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
      &:hover {
        transform: none;
      }
    }

  }
}
